head
  title clipo
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='/css/main.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/autosize.js/1.18.18/jquery.autosize.min.js')
  script(src='https://cdn.socket.io/socket.io-1.3.4.js')
  script(src='/js/app.js')