extends layout

block content
  .container
    h1 #{app.name}

    p To create your new clipboard, append the URL by the name of your choice.

    p Example: #{host}
      b /felix

    p Then, if the clipboard with the name is available, feel free to register it.
    
    p
      b Note:&nbsp;
      | Only alphanumeric and - and _ characters are accepted for the name.